
.section-filter {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
    align-content: center;
    justify-content: center;
}

.group {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #aaa;
    background-color: #f4f4f4;
    border: 1px solid #eee;
    outline: none;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 970px;
    height: 405px;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
    align-items: center;
    margin-left: 2rem;
}

.button {
    display: inline-block;
    background-color: #4883ff;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    text-decoration: none;
    border: 2px solid #4883ff;
    transition: all 0.5s;
}

label {
    font-family: 'Raleway',sans-serif;
    color: #2c343b;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857143;
}