.wrapper {
   display: flex;
    flex: 1 0 25%;
    padding: 80px 0px 70px 0px;
    border-top: 1px solid #ddd;
    /* height: 100vh; */
}

.left {
    display: flex;
    flex-basis: 35%;
    margin: 20px auto;
    /* flex-direction: column; */
}

.logoSize {
    width: 150px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    
}

.wrapMiddle{
    display: flex;
    /* flex-direction: column; */

    flex-wrap: wrap;
    margin: 20px auto;
}

.firstMiddle {
    /* display: inline-block; */
    margin-right: 25px;
    display: flex;
  /* flex-direction: column; */
  /* flex-basis: 100%; */
  flex: 0 1 46%;
    /* flex-direction: column;
    flex-wrap: wrap; */
    /* flex-basis: 25%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-basis: 35%; */
    /* display: block; */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* color: black; */
}

.usefull-links-container{
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
}

.secondMiddle {
/* display: block;
margin-right: 25px; */
display: flex;
  /* flex-direction: column; */
  /* flex-basis: 100%; */
  flex: 0 1 47%;
/* margin-top: 4rem; */
/* flex-direction: column; */
/* flex-wrap: wrap; */
/* flex-basis: 35%; */
}


.right {
    display: block;
    flex-basis: 30%;
    justify-content: center;
    margin: 20px auto;
}

.icons {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    background-color: #09f;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    
    margin-right: 3px;
    transition: all 0.5s;   

}

.target-icon{
    color: white;
}
.listLinks {
    list-style-type: none;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
    /* display: flex;
    flex-direction: column;
    flex: 0 1 21%; */
    /* flex-wrap: wrap; */
    /* gap: 6px; */
}

.dotted-list:before {
    content: '•';
    color:#09f;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

.listIcons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.subfooter{
    text-align: center;
    /* display: flex; */
    background-color: #f4f4f4;
    width: 100%;
    margin-bottom: 0px;
    padding: 30px 0px;
    font-size: 15px;
    color: #aaaaaa;
}

.bluespans {
    font-size: 13px;
    color: #7a7a7a;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 80px;
    display: inline-block;
}

.footer-links {
    font-size: 15px;
    color: #7a7a7a;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: all 0.5s;
}

.usefulLinks {
    font-size: 21px;
    color: #232323;
    letter-spacing: 0.5px;
    margin-top: 15px;
    margin-bottom: 40px;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    flex: 1 0 21%;
}

.contactInfo{
    font-size: 21px;
    color: #232323;
    letter-spacing: 0.5px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.text{
    margin-bottom: 25px;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 24px;
    left: 0.25px;
}

.phone {
    font-size: 13px;
    color: #4883ff;
    letter-spacing: 0.5px;
    text-decoration: none;
    width: 30%;
}

.email {
    width: 30%;
    font-size: 13px;
    color: #4883ff;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.contact-address {
    margin-left: 10px;
}

.header-title {
    display: flex;
    color: #454545;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    height: 50px;
    padding: 15px 15px;
    cursor: pointer;
}

.header-span {
    color: #09f;
}