.cars-container {
    display: flex;
    flex-direction: row;
    display: flex;
    border: 2px solid black;
    width: 850px;
    height: 50vh;
    margin-top: 20px;
}

.car-title {
    font-size: large;
}

.car-img {
    
}

.carImage {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.desc {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}


.detailsBtn {
    border-color: #09f;
    color: #09f;
    width: 80%;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
}

