@import url('//fonts.googleapis.com/css?family=Muli');

.details {
    font-family: 'Muli', sans-serif;
    position: relative;
    padding: 100px 0;
    text-align: center;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.firstCol {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
}

.description {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}
/* .container-upper-pic{

} */

.upperPic {
    display: block;
    max-width: 100%;
    /* height: 50vh; */
    /* vertical-align: middle; */
    border: 0;
    height: auto;
}

.little-pics {
    /* width: 33.33333333%; */
    /* width: 90%; */
    object-fit: contain;
    margin-left: 10px;
    padding: 4px 9px;
}

.secondCol {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.form {
    /* display: flex; */
    margin-top: 0em;
    box-sizing: border-box;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    
}

.columns-photos {
    display: flex;
    flex-direction: row;
    width: 33.33333333%;
}

.thirdCol {
    box-sizing: border-box;
    width: 66.66666667%;
    padding-right: 15px;
    padding-left: 15px;
    /* border: 2px solid #f5f5f5; */
}

.info-col-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex: 1 1 21%;
    flex-direction: column;
    width: 33.33333333%;
    box-sizing: border-box;
}

.form-text {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.form-strong {
    font-weight: 700;
}

.form-span {
    color: #09f;
    font-weight: bold;
    /* font-size: 25px; */
    /* font-weight: bold; */
    /* display: inline-block; */
    /* width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px; */
    margin-bottom: 5px;
}

.form-header {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.panel-default {
    /* width: 90%; */
    text-align: left;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.fourthCol {
    box-sizing: border-box;
    width: 33.33333333%;
    /* border: 1px solid #f5f5f5; */
    padding-right: 15px;
    padding-left: 15px;
}

.contact-heading {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 10px;
    /* color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
}

.span-color{
    color: #09f;
}

.panel-body {
    padding: 15px;
    /* border: 1px solid #f5f5f5; */
    /* border: 1px solid transparent; */
}

.contact-info {
    text-decoration: none;
    color: #333;
}

.contact-info:hover {
    color: #09f;
}

.span-labels {
    color: #757575;
}

.editBtn {
    border-color: #09f;
    color: #09f;
    width: 65%;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
}

.editBtn:focus,
.editBtn:hover,
.editBtn:active,
.editBtn:focus:active{
    background: #09f; 
    color: #fff; 
    border-color: #09f; 
}

.deleteBtn {
    border-color: red;
    color: red;
    width: 65%;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
}

.deleteBtn:focus,
.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus:active{
    background: red; 
    color: #fff; 
    border-color: red; 
}

.info-col-buttons {
    display: flex;
    flex-direction: row;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
    box-sizing: border-box;
    margin-left: 20px auto;
    padding: 20px;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-items: center; */
}