

.container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    margin-bottom: 60px;
}


.logo {
width: 150px;
height: 90px;
object-fit: contain;
cursor: pointer;
}


.container-logo {
    display: flex;
    margin-top: 2px;
    align-items: center;
    flex-grow: 2;
}

.right-side {
    display: flex; 
margin-left: 1.5rem;
margin-right: 1.5rem; 
margin-left: 1.5rem; 
/* color: #ffffff;  */
gap: 6px;
font-size: 1.25rem;
line-height: 1rem; 
white-space: nowrap; 
align-items: center; 
}



